.header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  background-color: rgb(61, 171, 179);
  color: #fff;
  padding: 10px;

  align-items: center;
}

.header-title {
  grid-column: 1;
  margin: 0;
  font-size: 36px;
}

.header-span {
  color: blue;
}

.header-link {
  grid-column: 2;
  color: #fff;
  text-decoration: none;
  margin-left: 200px;
}

.header-span:hover {
  color: #ccc;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #314196;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #9f5ccc;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #ae82cc;
}

.header-class {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: rgb(180, 180, 224);
  background-color: rgb(52, 44, 50);
}
